@model IEnumerable<WebsiteBanHang.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width={200} heigh={200}/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Display", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id})
                </td>
            </tr>
        }
    </tbody>
</table> *@
<div class="float-end">
    <a asp-action="Add" class="btn btn-info">Create New</a>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
            @item.Name
            @Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class = "float-end" })
                </div>
                <div class="card-body">
                    
                <img class="w-100" height={275} src="@Html.DisplayFor(modelItem => item.ImageUrl)" onError="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnld-SvFHQ6juACSe6B3PsHWp5SjYhlAI2l7_v8wefrbrZAG0yPdpgomZgwpFHarwLBqU&usqp=CAU'" alt="Alternate Text" />
                   
            <p><strong>Description: </strong>@item.Description</p>
                    <p><strong>Price: </strong>@item.Price</p>
                </div>
                <div class="card-footer">
                    <div class="float-start">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                    <div class="float-end">
                        <a class="btn btn-primary">Order</a>
                @Html.ActionLink("Read more...", "Display", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
