@model IEnumerable<_2180608812_WebsiteBanHang.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        <img class="w-100" height={275} src="@Html.DisplayFor(modelItem => item.ImageUrl)" onError="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnld-SvFHQ6juACSe6B3PsHWp5SjYhlAI2l7_v8wefrbrZAG0yPdpgomZgwpFHarwLBqU&usqp=CAU'" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                        <p>
                        @item.Category?.Name 
                        </p>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id= item.Id }) |
                    @Html.ActionLink("Details", "Display", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
